@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: Outfit, sans-serif;
}

@layer utilities {
  .font-outfit {
    font-family: var(--font-outfit);
  }

  .font-ovo {
    font-family: var(--font-ovo);
  }

  .hover\:lightHover:hover {
    background-color: #fcf4ff;
  }

  .hover\:darkHover:hover {
    background-color: #2a004a;
  }

  .autoGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}